.user-card {
  border-radius: 10px;
  box-shadow: 5px 5px whitesmoke;
  padding: 20px;
  display: flex;
  flex-direction: column;
}
.user-image-styling {
  text-align: center;
  position: relative;
}
.verified-style {
  position: absolute;
  top: 5px;
  right: 52px;
  background-color: #cce5ff;
  border-radius: 50%;
  width: 22px;
  height: 22px;
  display: inline-block;
}
.image-style {
  width: 75px;
  height: 75px;
  border-radius: 50%;
}
.naming-styling {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.name-styling {
  margin-top: 10px;
  font-size: 20px;
  font-weight: 700;
}
.user-name-styling {
  font-size: 14px;
  font-weight: 500;
  margin: 10px 0px 35px 0px;
  text-align: center;
}
.user-stats-info-styling {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.number-styling {
  font-weight: 700;
  font-size: 20px;
}
.sub-text {
  color: #bab9ba;
  font-size: 10px;
  margin-top: 10px;
  font-weight: 700;
}
