.nav-styling {
  background-color: black;
  color: white;
  padding: 15px;
  display: flex;
  flex-direction: column;
}
.brand-styling {
  display: flex;
  align-items: center;
  margin: 15px 0px 50px 0px;
}
.brand-name {
  font-size: 20px;
  margin-left: 10px;
}
.item-styling {
  display: flex;
  align-items: center;
}
.item-styling:not(:nth-child(6)) {
  margin-bottom: 30px;
}
.grouped-items {
  flex: 1;
}
.item-name {
  font-size: 15px;
  margin-left: 10px;
}
.top-border {
  border-top: 1px white solid;
  padding-top: 20px;
}
